:root {
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --third-title-color: #757575;
    --main-text-color: #757575;
    --second-text-color: color: rgba(255, 255, 255, 0.6);
    --third-text-color: #212121;
    --accent-color: #2196F3;
    --main-btn-color:#FFFFFF;
    --second-btn-color: #212121;
    --header-text-color:  #212121;
}

body {
    font-family: Roboto; 
    color: #E5E5E5;
}

.list {
list-style: none;
}

.link {
    text-decoration: none;
}
/*/////////// HEADER//////////// */
.header {
    background: #FFFFFF;
}

.header-text1 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}
.header-text2{
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--second-title-color);
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-title-color);  
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}
.header-email:hover{
    color: var(--accent-color);
}
.header-tel:hover{
  color: var(--accent-color);
}
.header-email, .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
} 
/* /////////////////////   HERO   /////////// */
 .hero {
    background-color: #2F303A;
 }
 .hero-list {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--main-title-color);
 }
 .hero-btn {
    cursor: pointer;
     font-family: inherit;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.88;
     text-align: center;
     letter-spacing: 0.06em;
     color: white;
     background: #2196f3;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
 }
 .hero-btn:hover,
 .hero-btn:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: #188ce8;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
 }

/* ------------------FEATURES---------- */

.features {
    background: white;
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--second-title-color);
}

.features-after-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--third-title-color);
}

/* /////////////What-we-do///////// */

.What-we-do-title {
    text-transform: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--second-title-color);
}


/* ///////////////OUR TEAM///////// */

.team {
    background: #F5F4FA;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17; 
   color:var(--second-title-color);
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--second-title-color);
}
.team-work-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--third-title-color);
}

/* ////////// Addresses//////////*/
.contacts {
    background: #2F303A;
}
.contacts-text {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}
.contacts-text2 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--main-title-color);
}

.contacts-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-title-color);
}
.contacts-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.contacts-link:hover,
.contacts-link:focus {
color: var(--accent-color);
}



/* ----------------PORTFOLIO----- */
.portfolio-btn {
     cursor: pointer;
     font-family: inherit;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.63;
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--second-title-color);
     background: #f5f4fa;;
     border-radius: 4px; 
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.menu {
    background: #E5E5E5;
}
.menu-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--second-title-color);
}.menu-after-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--third-title-color);
}