:root {
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --third-title-color: #757575;
    --main-text-color: #757575;
    --second-text-color: color: rgba(255, 255, 255, 0.6);
    --third-text-color: #212121;
    --accent-color: #2196F3;
    --main-btn-color:#FFFFFF;
    --second-btn-color: #212121;
    --header-text-color:  #212121;
}

body {
    font-family: Roboto; 
    color: #E5E5E5;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
h1,
h2,
h3, 
p,
ul {
    margin: 0;
}

.list {
list-style: none;
padding: 0;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* -----------------HEADER-------------- */
.header {
    border-bottom: 1px solid #ececec;
    background: #FFFFFF;
}



/* hesder-flex */
.header-flex {
    display: flex;
    align-items: center;
 }

.header-list {
    display: flex;
    margin-left: 93px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-list, .header-item  +.header-item{
  margin-left: 50px;
}
.auth-nav {
    display: flex;
    margin-left: auto;
}       

.auth-nav, .header-item +.header-item {
    margin-left: 50px;
}

.header-text1 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}
.header-text2{
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--second-title-color);
}
.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-title-color);  
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}
.header-email:hover{
    color: var(--accent-color);
}
.header-tel:hover{
  color: var(--accent-color);
}
.header-email, .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
} 
/* /////////////////////   HERO   /////////// */
 .hero {
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 20px;
 }
 .hero-content {
     text-align: center;
 }
 .hero-list {
     margin-top: 0;
     margin-left: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--main-title-color);
 }

 .hero-btn {
     cursor: pointer;
     font-family: inherit;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.88;
     text-align: center;
     letter-spacing: 0.06em;
     color: white;
     background: #2196f3;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
 }
 .hero-btn:hover,
 .hero-btn:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: #188ce8;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
 }

/* ------------------FEATURES---------- */

.features {
     padding-top: 94px;
     padding-bottom: 47px;
     background: white;
}
.features-list {
    display: flex;
}


.features-title {
    width: 270px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--second-title-color);
}

.features-after-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--third-title-color);
}
.features-item +.features-item {
    margin-left: 30px;
}

/* /////////////products///////// */
.products {
    padding-top: 47px;
    padding-bottom: 94px;
}
.products-title {
    text-transform: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--second-title-color);
}
.products-list {
    display: flex;
}
.products-list, .products-item +.products-item {
    margin-left: 30px;
}


/* /////////////// TEAM///////// */

.team {
    background: #F5F4FA;
    padding-bottom: 94px;
    padding-top: 94px;
}
.team-list {
    display: flex;
}
.card-team{
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-list, .team-item +.team-item{
    margin-left: 30px;
}
.team-item {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17; 
   color:var(--second-title-color);
}
.team-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--second-title-color);
}
.team-work-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--third-title-color);
}

/* ////////// Addresses//////////*/
.contacts {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
}
.contacts-text {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}
.contacts-text2 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--main-title-color);
}
.address {
    margin-top: 20px;
    font-style: normal;
}
.contacts-item {
    margin-bottom: 9px;
}

.contacts-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-title-color);
}
.contacts-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.contacts-link:hover,
.contacts-link:focus {
color: var(--accent-color);
}



/* ----------------PORTFOLIO----- */
.portfolio-btn {
     cursor: pointer;
     font-family: inherit;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.63;
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--second-title-color);
     background: #f5f4fa;;
     border-radius: 4px; 
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.menu {
    background: #E5E5E5;
}
.projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--second-title-color);
}
.projects-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--third-title-color);
}